name: Windows CI
run-name: ${{ github.actor }} is testing out GitHub Actions
on: [push]
jobs:
  format:
    name: Check Formatting
    runs-on: self-hosted
    steps:
      - name: Check Formatting
        uses: actions/checkout@v5
      - run: python .\scripts\format_code.py
      - run: python .\scripts\get_git_changed_files.py

  shader_generation:
    name: Shader Generation
    runs-on: self-hosted
    steps:
      - name: Shader Generation
        uses: actions/checkout@v5
      - run: python .\scripts\generate_shader.py

  build_debug:
    name: Build Debug
    needs: format
    runs-on: self-hosted
    steps:
      - name: Build Debug
        uses: actions/checkout@v5
      - run: echo "Building project..."
      - run: .\scripts\ci_build_job.bat Debug
      # - name: Upload Build Artifacts
      #   uses: actions/upload-artifact@v3
      #   with:
      #     name: build-debug